<app-dashboard-main-header></app-dashboard-main-header>

<div class="main">
    <div class="time_period">
        <p>Выбрать период</p>
        <input type="date" value="2021-11-09">
        <input type="date" value="2021-12-12">
    </div>

    <div class="number_block">
        <div class="card_user">
            <p class="card_name">Количество пользователей</p>
            <div class="stats">
                <div class="news">
                    <p>+ 28</p>
                </div>
                <p class="total_amount">1 432</p>
            </div>
        </div>

        <div class="card_vacancy">
            <p class="card_name">Количество вакансий</p>
            <div class="stats">
                <div class="news">
                    <p>+ 7</p>
                </div>
                <p class="total_amount">963</p>
            </div>
        </div>
    </div>

    <div class="diagrams">
        <div class="diagram_card">
            <p>Количество пользователей</p>
            <p>Пользователи</p>
            <div class="graph">
                Здесь должен быть график
            </div>
        </div>

        <div class="diagram_card">
            <p>Количество вакансий</p>
            <p>Вакансии</p>
            <div class="graph">
                Здесь должен быть график
            </div>
        </div>
    </div>
</div>
