<app-header></app-header>

<main class="vacancy">
	<div class="h1-wrap">
		<h1>Компания “Название компании”</h1>
		<p>Размещено: {{vacancy.created_at | date:'dd.MM.y'}}</p>
	</div>

	<div class="vacancy-page-wrap">
		<div class="vacancy-page-text">
			<div class="vacancy-page-title">Вакансия</div>
			<div class="vacancy-page-job">{{vacancy.name}}</div>
		</div>
		<div class="vacancy-page-description-title">Описание</div>
		<div class="vacancy-page-description">
			{{vacancy.desc}}
			<!-- <p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p>

			<p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p>

			<p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p> -->
		</div>
		<div class="vacancy-page-cost">Цена: {{vacancy.payment}} р.</div>
		<button class="vacancy-button">Откликнуться</button>
	</div>
</main>

<app-footer></app-footer>
