<app-header></app-header>

<main>
	<h1>Настройки</h1>

	<div class="settings-menu">
		<a 
			[routerLink]="'/user-settings'" 
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{exact:true}"
		>Личные данные</a>
		<a 
			[routerLink]="'/profile-settings'" 
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{exact:true}"
		>Профиль</a>
	</div>

	<form>
		<div class="settings-wrap">
			<div class="settings">
				<h3>Имя*</h3>
				<input type="text" name="" placeholder="Денис">
			</div>
			<div class="settings">
				<h3>Фамилия*</h3>
				<input type="text" name="" placeholder="Соколов">
			</div>
			<div class="settings">
				<h3>Отчество</h3>
				<input type="text" name="" placeholder="">
			</div>
			<div class="settings">
				<h3>Возраст*</h3>
				<input type="number" name="" placeholder="25" min="1">
			</div>
			<div class="settings">
				<h3>Специальность*</h3>
				<input type="text" name="" placeholder="Frontend-developer">
			</div>
			<div class="settings">
				<h3>Образование*</h3>
				<input type="text" name="" placeholder="Московский Политехнический Университет">
			</div>
			<div class="settings">
				<h3>Опыт</h3>
				<textarea placeholder="Расскажите о себе и своём опыте..."></textarea>
			</div>

			<div class="settings-buttons-wrap">
				<button class="settings-button">Сохранить</button>
			</div>
		</div>
	</form>
	
</main>

<app-footer></app-footer>
