<app-dashboard-main-header></app-dashboard-main-header>
<app-dasboard-sub-menu></app-dasboard-sub-menu>

<div class="main">
    <table class="moderation_table">
        <tr class="first_row">
            <td>
                <p>Название вакансии</p>
            </td>
            <td>
                <p>Время начала</p>
            </td>
            <td>
                <p>Дата</p>
            </td>
            <td>
                <p>Статус</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
        <tr>
            <td class="vacancy_name">
                <p>Название вакансии</p>
            </td>
            <td class="start_time">
                <p>12:30</p>
            </td>
            <td class="date">
                <p>12.09.2021</p>
            </td>
            <td class="status">
                <p>на модерации</p>
            </td>
        </tr>
    </table>
</div>

