*{
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.autorization{
	background: #000;
	height: 100%;
}
.autorization-header-wrap{
	height:130px;
	/* padding: 30px 40px; */
	display: flex;
	justify-content: space-between;
}
.header-logo{
	align-self: center;
	margin-left:40px;
	width: 382px;
	height: 128px;
}
.autorization-header-wrap a{
	align-self: center;
	margin-right: 40px;;
	font-weight: 600;
	font-size: 40px;
	color: #fff;
    text-decoration: none;
}
.autorization-main-wrap{
	margin-top: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.autorization-main-wrap h2{
	color: #fff;
	font-weight: 600;
	font-size: 55px;
}
.login, .password{
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
}
.autorization-form-inputs{
	margin-right: 155px;
}
.login{
	margin: 80px 0;
}
.login div, .password div{
	color: #fff;
	margin-right: 25px;
	font-family: Gilroy;
	font-weight: 600;
	font-size: 30px;
	align-self: center;
}
.login input, .password input{
	background: #000;
	color: #fff;
	width: 480px;
	height: 70px;
	padding: 17px 19px;
	font-weight: 600;
	font-size: 30px;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.autorization-main-wrap a{
	margin: 57px auto;
	font-weight: 600;
	font-size: 30px;
	color: #fff;
    text-decoration: none;
}
.autorization-form-wrap{
	display: flex;
	flex-direction: column;
}
.autorization-form-wrap input[type=submit]{
	width: 400px;
	height: 70px;
	border-radius: 0px;
	margin: auto;
	border-radius: 5px;
	font-weight: 600;
	font-size: 35px;
	background: #fff;
	color: #000;
	margin-bottom: 100px;
}

@media screen and (max-width:1100px) {
	.autorization-header-wrap{
		height: 156px;
	}
	.header-logo{
		width: 265px;
		height: 90px;
		margin-left: 27px;
	}
	.autorization-header-wrap a{
		font-size: 30px;
		margin-right: 66px;
	}
	.autorization-main-wrap h2{
		font-size: 40px;
		margin: 86px 0 50px 0;
	}
	.autorization-form-inputs{
		margin: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.login{
		margin-bottom: 33.67px;
		flex-direction: column;
		justify-content: center;
		align-self: center;
	}
	.login div{
		align-self: center;
		justify-self: center;
	}
	.login input{
		align-self: center;
		justify-self: center;
	}
	.password{
		flex-direction: column;
		margin-bottom: 33.67px;
	}
	.autorization-form-wrap{
		display: flex;
	}
	.autorization-form-wrap a{
		margin:auto auto 18.68px auto;
		justify-self: center;
	}
	.autorization-form-wrap input[type=submit]{
		width: 202.74px;
		height: 66.14px;
		margin:auto;
		margin-bottom: 247.86px;
	}

}