@font-face {
    font-family: gilroy;
    src: url("/assets/fonts/gilroy/Gilroy-Regular.woff");
   }
*{
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding:0;
    height:100%;
}
::ng-deep body{
    margin: 0;
}