<app-header></app-header>

<main>
	<h1>Настройки</h1>

	<div class="settings-menu">
		<a 
			[routerLink]="'/user-settings'" 
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{exact:true}"
		>Личные данные</a>
		<a 
			[routerLink]="'/profile-settings'" 
			[routerLinkActive]="'active'"
			[routerLinkActiveOptions]="{exact:true}"
		>Профиль</a>
	</div>

	<form>
		<div class="settings-wrap">
			<div class="settings">
				<h3>Логин*</h3>
				<input type="text" name="" placeholder="Denis_25">
			</div>
			<div class="settings">
				<h3>Телефон*</h3>
				<input type="text" name="" placeholder="+7 999 *** ** 44">
			</div>
			<div class="settings">
				<h3>E-mail*</h3>
				<input type="text" name="" placeholder="denissokol@gmail.com">
			</div>
			<div class="settings-password">
				<h3>Изменить пароль</h3>
				<input type="password" name="" placeholder="Текущий пароль">
				<input type="password" name="" placeholder="Новый пароль">	
				<input type="password" name="" placeholder="Повторить пароль">
			</div>

			<div class="settings-buttons-wrap">
				<button class="settings-button">Сохранить</button>
				<a href="#">Удалить аккаунт</a>
			</div>
		</div>
	</form>

</main>

<app-footer></app-footer>
