<app-dashboard-main-header></app-dashboard-main-header>
<app-dasboard-sub-menu></app-dasboard-sub-menu>

<div class="main">
    <div class="first_row">
        <div class="card card-watching-vacancies">
            <div class="card_name">
                <p>Смотрят вакансии:</p>
            </div>

            <div class="time_statistic">
                <p>Сейчас:</p>
                <p>26 человек</p>
                <p>Сегодня:</p>
                <p>70 человек</p>
            </div>

            <div class="time_filter">
                <p>Выбрать период:</p>
                <div class="time_period_input">
                    <input type="date" value="2021-11-09">
                    <input type="date" value="2021-12-12">
                </div>
            </div>

            <div class="watching_people">
                <p>680 человек</p>
            </div>
        </div>

        <div class="card card-uploading-vacancies">
            <div class="card_name">
                <p>Загружают вакансии:</p>
            </div>

            <div class="time_statistic">
                <p>Сейчас:</p>
                <p>26 человек</p>
                <p>Сегодня:</p>
                <p>70 человек</p>
            </div>

            <div class="time_filter">
                <p>Выбрать период:</p>
                <div class="time_period_input">
                    <input type="date" value="2021-11-09">
                    <input type="date" value="2021-12-12">
                </div>
            </div>

            <div class="watching_people">
                <p>680 человек</p>
            </div>
        </div>

        <div class="card card-popular-vacancy">
            <div class="card_name">
                <p>Популярная вакансия:</p>
            </div>

            <div class="popular_vacancy">
                <p>Название вакансии</p>
            </div>

        </div>
    </div>
    

    <div class="second_row">
        <div class="card card-job-applications">
            <div class="card_name">
                <p>Отклики на вакансии:</p>
            </div>

            <div class="time_statistic">
                <p>Сейчас:</p>
                <p>26 откликов</p>
                <p>Сегодня:</p>
                <p>70 откликов</p>
            </div>

            <div class="time_filter">
                <p>Выбрать период:</p>
                <div class="time_period_input">
                    <input type="date" value="2021-11-09">
                    <input type="date" value="2021-12-12">
                </div>
            </div>

            <div class="watching_people">
                <p>680 откликов</p>
            </div>
        </div>

        <div class="card card-new-vacancies">
            <div class="card_name">
                <p>Новые вакансии:</p>
            </div>

            <div class="time_statistic">
                <p>Сегодня:</p>
                <p>70 откликов</p>
            </div>

            <div class="time_filter">
                <p>Выбрать период:</p>
                <div class="time_period_input">
                    <input type="date" value="2021-11-09">
                    <input type="date" value="2021-12-12">
                </div>
            </div>

            <div class="watching_people">
                <p>680 человек</p>
            </div>
        </div>

    </div>
    
</div>