<app-header></app-header>

<main class="vacancy">
	<div class="h1-wrap">
		<h1>Компания “Название компании”</h1>
		<p>Размещено: 05.06.2021</p>
	</div>

	<div class="vacancy-page-wrap">
		<div class="vacancy-page-text">
			<div class="vacancy-page-title">Вакансия</div>
			<div class="vacancy-page-job">Frontend-developer</div>
		</div>
		<div class="vacancy-page-description-title">Описание</div>
		<div class="vacancy-page-description">
			<p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p>

			<p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p>

			<p>Разработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описаниеРазработка логотипа описание разработка логотипа описание разработка логотипа описание разработка логотипа описание</p>
		</div>
		<div class="vacancy-page-cost">Цена: 1 000 р.</div>
		<button class="vacancy-button">Откликнуться</button>
	</div>
</main>

<app-footer></app-footer>
