<app-header></app-header>

<main>
	<div class="profile-title">
		<h1>Профиль</h1>
		<button (click)="onLogoutUser()">Выход</button>
	</div>
	

	<div class="student-wrap">
		<div class="student-links">
			<img src="{{user.profile_photo_url}}" class="student-img">
			<div class="student-anchors">
				<div class="student-rating">
					<p>Рейтинг</p>
					<div class="stars-wrap">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
					</div>
				</div>
				
				<p>Работы</p>
				<p>Портфолио</p>
				<p>Отзывы</p>
				<p>Отклики</p>
				<p>Сообщения</p>
				<div class="profile-ico">
					<img src="assets/images/vk.svg">
					<img src="assets/images/fb.svg">
					<img src="assets/images/git.svg">
				</div>
			</div>
		</div>
		<div class="student-info">
			<div class="student-name">{{user.name + ' ' + user.surname}}</div>
			<h3>Возраст: <span>25 лет</span></h3>
			<h3>Специальность: <span>Frontend-developer</span></h3>
			<h3>Образование: <span>Московский политехнический университет</span></h3>
			<h3>Опыт:</h3>
			<div class="profile-description">
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</div>
		</div>
	</div>

	<div class="student-portfolio-wrap">
		<h3>Работы</h3>
		<div class="student-portfolio">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="student-portfolio-wrap">
		<h3>Портфолио</h3>
		<div class="student-portfolio">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="student-review-wrap">
		<h3>Отзывы</h3>
		<div class="student-review-block">
			<img src="assets/images/student.png" class="student-review-img">
			<div class="student-review-text-wrap">
				<div class="review-name-wrap">
					<p class="review-name">Имя Фамилия</p>
					<div class="stars-wrap">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
					</div>
				</div>
				<p class="student-review">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
			</div>
		</div>

		<div class="student-review-block">
			<img src="assets/images/student.png" class="student-review-img">
			<div class="student-review-text-wrap">
				<div class="review-name-wrap">
					<p class="review-name">Имя Фамилия</p>
					<div class="stars-wrap">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
					</div>
				</div>
				<p class="student-review">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
			</div>
		</div>

		<div class="student-review-block">
			<img src="assets/images/student.png" class="student-review-img">
			<div class="student-review-text-wrap">
				<div class="review-name-wrap">
					<p class="review-name">Имя Фамилия</p>
					<div class="stars-wrap">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
						<img src="assets/images/star.svg" class="star">
					</div>
				</div>
				<p class="student-review">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
			</div>
		</div>
	</div>

	<div class="more-comments">
		<p>еще +90</p>
	</div>

</main>

<app-footer></app-footer>